@{
    ViewData["Title"] = "Contacts";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Phone:</strong> <a href="tel:+351916077957">+351 916077957</a><br />
    <strong>Email:</strong> <a href="mailto:fernando.guerra.duarte@gmail.com">fernando.guerra.duarte@gmail.com</a><br />
    <br />
    <strong>LinkedIn:</strong> <a href="http://linkedin.com/in/fernando-guerra-duarte">linkedin.com/in/fernando-guerra-duarte</a><br />
    <strong>GitHub:</strong> <a href="http://github.com/SirNanwar">github.com/SirNanwar</a>
</address>
