@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h1>Fernando Duarte</h1>
        <div>
            <p>
                Studied Computer Science and Engineering at Instituto Superior Técnico.
                <br>
                Currently, working at Collab as a .NET Software Engineer.
            <p>
                Passionate about programming as it gives me the perfect domain to appease my problem solving mind.
                <br>
                Currently focusing on .NET and other Microsoft technologies.
            <p>
                In my free time I enjoy starting new projects. Also thinking about other new projects to start, although finishing them is a completely different story.
            <p>
        </div>
    </div>
</div>
