@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h1>Fernando Duarte</h1>
        <div>
            A personal career story
        </div>
    </div>
</div>
