@model IEnumerable<FernandoALifeStory.Data.Models.Skills.Skill>

@{
    ViewData["Title"] = "Skills";
}

<h2>Skills</h2>

<p>
    <a href='javascript:history.go(-1)'>Go back!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
        </tr>
}
    </tbody>
</table>
