
@{
    ViewData["Title"] = "NoCertifications";
}

<h2>Nothing to see here!</h2>

<div>Looks like I have no certification to show. Yet.</div>

<a asp-action="Index" asp-controller="Home">Back to Home</a>

