body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.navbar-inverse {
    background-color: #666699;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: #ff9966;
}

@media (min-width: 992px) .col-md-3 {
    width: 75%;
}


/*
    #666699
    #336699
    #cccccf
    #3399cc
    #ff9966
*/